.news__content {
  max-width: 1232px;
  margin: 0 auto;
  align-self: center;
}

@media screen and (max-width: 1312px) {
  .news__content {
    margin: 0 40px;
  }
}

@media screen and (max-width: 490px) {
  .news__content {
    margin: 0 16px;
  }
}