.not-found__title {
  font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  max-width: 330px;
  margin: 0 auto 16px auto;
  align-self: center;
}