.commit__user {
  font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0 0 2px 0;
}

@media screen and (max-width: 425px) {
  .commit__user {
    font-size: 20px;
    line-height: 20px;
  }
}