@import url('../../vendor/fonts.css');
@import url('./__copy/footer__copy.css');
@import url('./__icon/footer__icon.css');
@import url('./__item/footer__item.css');
@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');
@import url('./__social-item/footer__social-item.css');
@import url('./__social-link/footer__social-link.css');
@import url('./__social/footer__social.css');
.footer {
  height: 80px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  display: flex;
  position: relative;
  justify-content: space-between;
}