.github__header {
  max-width: 1232px;
  margin: 0 auto 64px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1312px) {
  .github__header {
    width: 90%;
    margin: 0 40px 32px 40px;
  }
}

@media screen and (max-width: 425px) {
  .github__header {
    width: 90%;
    margin: 0 16px 16px 16px;
  }
}