@import url('../vendor/fonts.css');
@import url('../blocks/content/content.css');
@import url('../blocks/body/body.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/navigation/navigation.css');
@import url('../blocks/author/author.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/clients/clients.css');
@import url('../blocks/stack/stack.css');
.navigation__item_active_dark {
  border-bottom: 3px solid #1a1b22;
}

.navigation__link_active_dark {
  color: #1a1b22;
}

.navigation__link_theme_dark:hover {
  color: #1a1b22;
}

.github {
  background-color: #f5f6f7;
  padding: 80px 0;
}

.github__header {
  max-width: 1232px;
  margin: 0 auto 64px auto;
  display: flex;
  justify-content: space-between;
}

.github__title {
  font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  max-width: 712px;
  margin: 0;
  color: #1a1b22;
}

.github__link {
  text-decoration: none;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  max-width: 180px;
  margin: 10px 0 0 0;
  color: #1a1b22;
}

.github__link:hover {
  opacity: .7;
}

.commit {
  width: 400px;
  min-width: 400px;
  height: 288px;
  border-radius: 16px;
  background-color: #fff;
  margin: 0 16px 0 0;
}

.commit-container__slider {
  /* max-width: 1440px; */
  margin: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.commit-container__slider:before,
.commit-container__slider:after {
  content: "";
  width: 88px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

.commit-container__slider:before {
  background: linear-gradient(270deg, rgba(245, 246, 247, 0), #f5f6f7);
  left: 0;
}

.commit-container__slider:after {
  background: linear-gradient(90deg, rgba(245, 246, 247, 0), #f5f6f7);
  right: 0;
}

.commit__date {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b6bcbf;
  max-width: 200px;
  margin: 24px 24px 16px 24px;
}

.commit__package {
  margin: 0 24px 16px 24px;
  max-width: inherit;
  display: flex;
}

.commit__text {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0 24px 24px 24px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}

.commit__photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 16px 0 0;
}

.commit__user {
  font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0 0 2px 0;
}

.commit__email {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0;
}

.slider-controls {
  width: calc(100% - 48px);
  position: absolute;
  top: 126px;
  left: 0;
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
}

.slider-controls__arrow {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  background-repeat: no-repeat;
  z-index: 6;
}

.slider-controls__arrow:hover {
  background-color: #1a1b22;
}

.slider-controls__left {
  width: 24px;
  height: 24px;
  margin: 8px;
  background-image: url('../images/slider-controls/left.svg');
}

.slider-controls__right {
  width: 24px;
  height: 24px;
  margin: 8px;
  background-image: url('../images/slider-controls/right.svg');
}

.commit-container__pagination {
  width: 300px;
  margin: 48px auto 0 auto;
  display: flex;
  justify-content: center;
}

.commit-container__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #d1d2d6;
  margin: 0 8px 0 0;
}

.commit-container__dot:last-child {
  margin: 0;
}

.commit-container__dot_active {
  background-color: #1a1b22;
}