@import url('../vendor/fonts.css');

/* a,
div,
section,
li,
ul,
nav,
header,
form,
input,
button,
footer,
h1,
h3,
img,
p,
h2 {
    border: 1px solid blue;
} */

.root {
    background-image: url('../images/search-backgroud.jpg');
    background-size: cover;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.body {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.logo {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 30px 0 0 104px;
    padding: 0;
}

.navigation {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    display: flex;
    padding-left: 0;
    height: inherit;
}

.navigation__item {
    list-style-type: none;
    margin: 30px 34px 0 0;
    display: inline-block;
}

.navigation__item:last-child {
    margin: 30px 101px 0 0;
}

.navigation__item_active {
    border-bottom: 3px solid #fff;
}

.navigation__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    display: inline-block;
}

.navigation__link_active {
    color: #fff;
}

.navigation__link:hover {
    color: #fff;
}

.search {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    padding: 80px 0;
}

.search__content {
    max-width: 608px;
    margin: 0 auto;
}

.search__title {
    max-width: 608px;
    margin: 0 auto 32px auto;
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: #fff;
}

.search__description {
    max-width: 545px;
    margin: 0 0 64px 0;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.search__line {
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid #d1d2d6; */
    border: none;
    border-radius: 100px;
    width: 608px;
    height: 64px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.search__input {
    width: 376px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin: auto 5px auto 24px;
    padding: 0;
    border: none;
    outline: none;
    caret-color: #2f71e5;
    color: #1a1b22;
}

.search__input::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #b6bcbf;
}

.search__button {
    width: 168px;
    height: 64px;
    border-radius: inherit;
    background-color: #2f71e5;
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    padding: 0;
    margin: auto 0;
    border: none;
    outline: none;
}

.search__button:hover {
    background-color: #347eff;
}

.search__button:active {
    background-color: #2a65cc;
}

.search__button:focus {
    outline: 2px solid #2a65cc;
}

.author {
    padding: 80px 0;
    display: flex;
    position: relative;
}

.author__photo {
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    margin: 0 56px 0 104px;
}

.author__about {
    max-width: 600px;
    padding: 50px 0;
}

.author__title {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
    margin: 0 0 24px 0;
}

.author__text {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
    margin: 0 0 20px 0;
}

.author__text:last-child {
    margin: 0;
}

.footer {
    height: 80px;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.footer__copy {
    font-size: 16px;
    line-height: 22px;
    color: #b6bcbf;
    margin: 33px 0 25px 104px;
}

.footer__links {
    display: flex;
    position: relative;
}

.footer__item {
    list-style-type: none;
    margin: 30px 40px 28px 0;
    padding: 0;
}

.footer__item:last-child {
    margin: 30px 0 28px 0;
}

.footer__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
}

.footer__link:hover {
    opacity: .7;
}

.footer__social {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 28px 104px 28px 0;
}

.footer__social-item {
    margin: 0 24px 0 0;
    padding: 0;
}

.footer__social-item:hover {
    opacity: .7;
}

.footer__social-item:last-child {
    margin: 0;
}

.footer__icon {
    width: 20px;
    height: 20px;
    background-size: contain;
}

.footer__social-link {
    margin: 0;
    padding: 0;
}

.not-found {
    background-color: #f5f6f7;
    padding: 80px 0;
    text-align: center;
}

.not-found__pic {
    width: 96px;
    height: 96px;
    background-size: contain;
    margin: 0 auto 24px auto;
}

.not-found__title {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    max-width: 330px;
    margin: 0 auto 16px auto;
    align-self: center;
}

.not-found__subtitle {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    max-width: 330px;
    margin: 0 auto;
}

.load {
    background-color: #f5f6f7;
    padding: 80px 0;
    text-align: center;
}

.load__circle {
    display: block;
    width: 74px;
    height: 74px;
    border: 1px solid #f5f6f7;
    border-bottom-color: #888;
    border-radius: 50%;
    box-shadow: rgba(14, 26, 57, 0.2);
    margin: 0 auto 24px auto;
    animation: spin .95s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.load__text {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    max-width: 330px;
    margin: 0 auto;
}

.news {
    padding: 80px 0;
    background-color: #f5f6f7;
    color: #1a1b22;
}

.news__content {
    max-width: 1232px;
    margin: 0 auto;
    align-self: center;
}

.news__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 64px 0;
}

.news__title {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
}

.news__link {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #1a1b22;
    margin: 14px 8px 0 0;
}

.news__link:hover {
    opacity: .7;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1232px;
    grid-gap: 16px;
    margin: 0 auto 64px auto;
    grid-auto-rows: 3fr;
}

.cards-wrapper__link {
    text-decoration: none;
}

.card {
    background-color: #fff;
    width: 100%;
    padding-bottom: 0;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: none;
    transition: box-shadow .5s ease;
    transform: scale(1);
    transition: transform .5s ease;
}

.card:hover {
    box-shadow: 0 10px 35px rgba(49, 49, 49, 0.3);
    transition: box-shadow .5s ease;
    transform: scale(1.01);
    transition: transform .5s ease;
}

.card__content {
    margin: 20px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 262px;
    max-width: 352px;
}

.card__image {
    max-width: 100%;
    padding-bottom: 68%;
    position: relative;
}

.card__im {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.card__date {
    font-family: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    margin: 0 0 12px 0;
}

.card__title {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    margin: 0 0 16px 0;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.card__text {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1a1b22;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    margin: 0;
}

.card__src {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #b6bcbf;
    margin: 10px 0 0 0;
}

.news__button {
    width: 288px;
    height: 64px;
    border-radius: 80px;
    display: block;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
    margin: 0 auto;
    outline: none;
    border: none;
    box-shadow: none;
    transition: box-shadow .5s ease;
}

.news__button:active {
    opacity: .9;
}

.news__button:hover {
    background-color: #f5f6f7;
    box-shadow: 0 10px 35px rgba(49, 49, 49, 0.3);
    transition: box-shadow .5s ease;
}