@import url('../vendor/fonts.css');

/* a,
div,
section,
li,
ul,
nav,
header,
form,
input,
button,
footer,
h1,
h3,
img,
p,
h2 {
    border: 1px solid blue;
} */

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.body {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.header_theme_dark {
    border-bottom: 1px solid #b6bcbf;
}

.logo {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 30px 0 0 104px;
    padding: 0;
}

.logo_theme_dark {
    color: #1a1b22;
}

.navigation {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    display: flex;
    padding-left: 0;
    height: inherit;
}

.navigation__item {
    list-style-type: none;
    margin: 30px 34px 0 0;
    display: inline-block;
}

.navigation__item:last-child {
    margin: 30px 101px 0 0;
}

.navigation__item_active_dark {
    border-bottom: 3px solid #1a1b22;
}

.navigation__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    display: inline-block;
}

.navigation__link_active_dark {
    color: #1a1b22;
}

.navigation__link:hover {
    color: #fff;
}

.navigation__link_theme_dark:hover {
    color: #1a1b22;
}

.footer {
    height: 80px;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.footer__copy {
    font-size: 16px;
    line-height: 22px;
    color: #b6bcbf;
    margin: 33px 0 25px 104px;
}

.footer__links {
    display: flex;
    position: relative;
}

.footer__item {
    list-style-type: none;
    margin: 30px 40px 28px 0;
    padding: 0;
}

.footer__item:last-child {
    margin: 30px 0 28px 0;
}

.footer__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
}

.footer__link:hover {
    opacity: .7;
}

.footer__social {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 28px 104px 28px 0;
}

.footer__social-item {
    margin: 0 24px 0 0;
    padding: 0;
}

.footer__social-item:hover {
    opacity: .7;
}

.footer__social-item:last-child {
    margin: 0;
}

.footer__icon {
    width: 20px;
    height: 20px;
    background-size: contain;
}

.footer__social-link {
    margin: 0;
    padding: 0;
}

.analytics {
    padding: 80px 0;
    background-color: #f5f6f7;
}

.analytics__content {
    max-width: 1232px;
    margin: 0 auto;
}

.analytics__title {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    margin: 0 0 48px 0;
}

.bar {
    height: 24px;
    background-color: #2f71e5;
    margin: 0 0 56px 0;
    display: flex;
}

.bar_width_day-one {
    width: 15%;
}

.bar_width_day-two {
    width: 18%;
}

.bar_width_day-three {
    width: 11%;
}

.bar_width_day-four {
    width: 39%;
}

.bar_width_day-five {
    width: 45%;
}

.bar_width_day-six {
    width: 73%;
}

.bar_width_day-seven {
    width: 34%;
    margin: 0 0 16px 0;
}

.bar__number {
    margin: auto 0 auto 6px;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #fff;
}

.columns {
    width: 100%;
    display: flex;
}

.columns__header {
    width: 100%;
    border-bottom: 1px solid #1a1b22;
    margin: 0 0 16px 0;
}

.columns__text {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    height: 44px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #b6bcbf;
    margin: 0;
}

.columns__text_width_90 {
    width: 85%;
}

.days {
    width: 104px;
}

.days__item {
    height: 24px;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1a1b22;
    margin: 40px 0 56px 0;
}

.days__item:last-child {
    margin: 0;
}

.data {
    width: 1128px;
}

.percentage {
    width: 100%;
    margin: 0 0 8px 0;
    display: flex;
    position: relative;
}

.percentage_bottom {
    margin: 0;
}

.percentage__text {
    width: 25%;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #b6bcbf;
    margin: 0;
}

.percentage__text:last-child {
    width: 25%;
    fill: transparent;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

.search-result {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}

.search-result__container {
    max-width: 1232px;
    margin: 0 104px;
}

.search-result__title {
    font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
    margin: 0 0 24px 0;
}

.search-result__text {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
    margin: 0 0 4px 0;
}

.search-result__text:last-child {
    margin: 0;
}

.search-result__text_bold {
    font-weight: 500;
}

.breadcrumb {
    max-width: 350px;
    margin: 40px 0 0 104px;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.breadcrumb__link {
    text-decoration: none;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
}

.breadcrumb__link:hover {
    opacity: .7;
}

.breadcrumb__active {
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
}