.news__button {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  display: block;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0 auto;
  outline: none;
  border: none;
  box-shadow: none;
  transition: box-shadow .5s ease;
}

.news__button:active {
  opacity: .9;
}

.news__button:hover {
  background-color: #f5f6f7;
  box-shadow: 0 10px 35px rgba(49, 49, 49, 0.3);
  transition: box-shadow .5s ease;
}