.commit-container__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #d1d2d6;
  margin: 0 8px 0 0;
}

.commit-container__dot:last-child {
  margin: 0;
}

.commit-container__dot_active {
  background-color: #1a1b22;
}