.navigation__item {
  list-style-type: none;
  margin: 30px 34px 0 0;
  display: inline-block;
}

.navigation__item:last-child {
  margin: 30px 101px 0 0;
}

@media screen and (max-width: 768px) {
  .navigation__item {
    margin: 22px 34px 0 0;
  }
  .navigation__item:last-child {
    margin: 22px 0 0 0;
  }
}

@media screen and (max-width: 490px) {
  .navigation__item {
    margin: 16px 11px 0 0;
  }
  .navigation__item:last-child {
    margin: 16px 0 0 0;
  }
}