@import url('./_width_85/columns__text_width_85.css');
.columns__text {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  height: 44px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0;
}