@import url('../../vendor/fonts.css');
@import url('./__number/bar__number.css');
.bar {
  height: 24px;
  background-color: #2f71e5;
  margin: 0 0 56px 0;
  display: flex;
}

.bar:last-child {
  margin: 0 0 16px 0;
}

@media screen and (max-width: 480px) {
  .bar {
    margin: 18px 0 24px 0;
  }
}